<label for="entry_name">Name</label>
  <input id="entry_name" name="entry[name]" type="text" value="<%= @entry.name %>">
  <label for="entry_description">Recipe</label>
  <input id="entry_description" name="entry[description]" type="text" value="<%= @entry.description %>">
