<h1>Recipe Central!</h1>

<h3>Recipes:</h3>

<ul>
  <% @entries.sort_by{|entry| entry.average_rating.to_f}.reverse.each do |entry| %>
    <li><a href="/<%= entry.id %>"><%= entry.name %> Stars: <%=entry.average_rating%></a></li>
  <% end %>
</ul>

<p><a href="/new-entry">Submit your own recipe</a></p>
<p><a href="/new-tag">Create a tag</a></p>
