<h1><%= @tag.name %></h1>
<h2>Recipes: <%= @tag.number_of_entries %></h2>
<h3>Recipes:</h3>
<ul>
<% @tag.entries.each do |entry| %>
  <li><a href="/<%= entry.id %>"><%= entry.name %></li>
<%end%>
</ul>

<p><a href="/">Back to main page</a></p>
